.pie-chart{
    border: 3px solid gainsboro;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 4px 4px 5px gainsboro;
}

.barchart{
     border: 3px solid gainsboro;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 4px 4px 5px gainsboro;
}

.linechart{
     border: 3px solid gainsboro;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 4px 4px 5px gainsboro;
}

@media (max-width: 768px) {
    .pie-chart, .barchart, .linechart{
        
        margin-top: 20px;
        width: 90%;
        height: auto;
        align-items: center;
    }

    .bcw{
        width: 85%;
    }
}