.charts {
  padding: 10px;
  display: flex;
  gap: 20px;
}

.chart-div1 {
  height: 400px;
  width: 500px;
}

.chart-div2 {
  height: 400px;
  width: 700px;
}

.chart-div1,
.chart-div2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton {
  background: linear-gradient(90deg, #e5e5e5 25%, #f5f5f5 50%, #e5e5e5 75%);
  background-size: 200% 100%;
  animation: wave 1.5s infinite linear;
  border-radius: 8px;
}

.skeleton2 {
  background: linear-gradient(90deg, #cfcfcf 25%, #dddddd 50%, #cfcfcf 75%);
  background-size: 200% 100%;
  animation: wave 1.5s infinite linear;
  border-radius: 8px;
}

.table-skel-div {
  padding: 12px;
  height: 75vh;
  width: 95%;

  /* background-color: gray; */
}

.trows-skel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
    margin-bottom: 10px;

}

.sid {
  height: 3rem;
  width: 4%;
}

.sname {
 height: 3rem;
  width: 12%;
}

.sage{
height: 3rem;
  width: 5%;
}

.semail{
height: 3rem;
  width: 22%;
}

.sphone{
 height: 3rem;
   width: 17%;
}

.scity{
  height: 3rem;
  width: 12%;
}

.scompany{
 height: 3rem;
  width: 12%;
}

.saction{
 height: 3rem;
  width: 4%;
}

.filter-bar {
  width: 95%;
  height: 70px;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;

  padding: 5px;
}

.circle {
  height: 350px;
  width: 350px;
  border-radius: 100%;
}

.rectangle {
  height: 300px;
  width: 600px;
}


.stat-skel{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 160px;
  width: 95%;
  gap: 10px;
  padding: 10px;
  margin: 20px;
}

.statcard-skel{
  height: 80%;
  width: 95%;
}

@keyframes wave {
  to {
    background-position: -200% 0;
  }
}
